* {
  margin: 0px;
  padding: 0px;
  Font-Family: 'Roboto', Sans-Serif;
  color: whitesmoke;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

main {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 3rem;
  flex-wrap: wrap;
}

button {
  border-radius: 30px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 30px;
  background-color: rgb(30, 215, 96);
  border: none;
  color: rgb(25 20 20)
}

button:hover {
  cursor: pointer;
}

.title {
  margin-bottom: 3rem;
  padding-top: 3rem;
  font-size: 3.5rem;
  color: rgb(30, 215, 96);
  text-shadow: 0rem 0.25rem 0.25rem rgb(25 20 20);
}

.login {
  padding: 1rem;
  font-size: 1.25rem;
  margin-top: 2rem;
}